html
  head
    title
  body
    if user
        h1 Welcome back #{user.username}!
        a(href="/log-out") Log Out
    else 
        h1 Please log in!
        br
        form(action="/log-in", method="post")
            label(for="username") Username
            br
            input(type="text", name="username", id="username")
            br
            label(for="password") Password
            br
            input(type="text", name="password", id="password")
            br
            button(type="submit") Log In
