html
  head
    title
  body
    h1 Sign up 
    form(action="", method="post")
        label(for="username") Username
        br
        input(type="text", name="username", id="username")
        br
        label(for="password") Password
        br
        input(type="text", name="password", id="password")
        br
        button(type="submit") Sign Up

